body{
    padding: 30px;
    margin-top: -30px;
}
.begin {
    background-color: rgb(180, 221, 240)  ;
}
a{
    text-decoration: none; 
}
.search{
    float: right;
    margin-top: -63px;
    background-color: rgb(216, 187, 21);
    padding:20px;
}
.bang{
    background-color: lightgreen;
    padding: 20px;
}
.bang a{
    margin-right: 30px;
    
}
.begin h1{
  color: rgb(15, 128, 116);
}
.begin em{
    color: rgb(40, 218, 40);
    font-size: 30px;
}
.main {
	width: 100%;
	display: flex;
}

.main .content {
	width: 70%;
	box-shadow: 5px 0px 5px -5px black;
	text-align: justify;
	padding-right: 25px;
}
ul{
    list-style-type: none;
}
.right{
 float: right;
 margin-top: -600px;
}
.heading{
    background-color: greenyellow;
    margin-left: 30px;
    padding: 10px;
}
.menu li{
    border-bottom: grey solid 1px;
    padding: 5px;
}

